body {
    font-family: 'Arial', sans-serif; /* Fuente general */
    margin: 0; /* Sin márgenes */
    height: 100vh; /* Altura completa de la ventana */
}

.container {
    display: flex; /* Usar flexbox para la disposición horizontal */
    height: 100%; /* Altura completa */
}

.input-panel {
    width: 20%; /* 20% del ancho para el panel de entrada */
    background-color: #2c3e50; /* Color de fondo del panel de entrada */
    color: white; /* Color del texto */
    padding: 20px; /* Relleno interno */
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); /* Sombra a la derecha */
}

.visualization-panel {
    width: 80%; /* 80% del ancho para el panel de visualización */
    display: flex; /* Usar flexbox para centrar el contenido */
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    background-color: #ecf0f1; /* Color de fondo del panel de visualización */
}

.image-container {
    width: 75%; /* Ancho del contenedor de la imagen */
    height: 95%; /* Altura inicial en 0 para usar aspect-ratio */
    background-color: white; /* Color de fondo del contenedor de la imagen */
    border: 1px solid #bdc3c7; /* Borde del contenedor */
    display: flex; /* Usar flexbox para centrar la imagen */
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
}
